@model IEnumerable<Entity.DavetiyeKatalog>

@{
    ViewBag.Title = "Davetiye Katalog";
}

<h2>Davetiye Katalogları Listesi</h2>

<p>
    @Html.ActionLink("Yeni Katalog Oluştur", "KatalogOlustur","", new { @class = "btn btn-warning" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KatalogAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KatalogAdi)
        </td>
        <td>
           
            @Html.ActionLink(" ", "KatalogDuzenle", new { id = item.KatalogId }, new { @class = "glyphicon glyphicon-edit btn btn-primary btn-md", title = "Katalog Düzenle" })
            @Html.ActionLink(" ", "Detaylar", new { id = item.KatalogId }, new { @class = "glyphicon glyphicon-file btn btn-success btn-md", title = "Katalog Göster" })
            @Html.ActionLink(" ", "KatalogSil", new { id = item.KatalogId }, new { @class = "glyphicon glyphicon-trash btn btn-danger btn-sm", title = "Katalog Sil" })
        </td>
    </tr>
}

</table>
